<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/9eba1988-4e69-46f3-b64b-2a829bc497de/resourceGroups/eu-cliniccad-dev/providers/Microsoft.Web/sites/dental-cad-central-storage-test</ResourceId>
    <ResourceGroup>eu-cliniccad-dev</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://dental-cad-central-storage-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f0e525d8-d351-4a7d-82fb-a22c3694a5c6</ProjectGuid>
    <PublishUrl>https://dental-cad-central-storage-test.scm.azurewebsites.net/</PublishUrl>
    <UserName>$dental-cad-central-storage-test</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>