@page "/"

<PageTitle>Home</PageTitle>

<h1>Працює?</h1>

<img class="figure-img rounded-2  mx-auto d-block"  src="images/shamie2.jpg"/>

@code{
    private string _connectionStr = "";
    private const string Variable = "SQLCONNSTR_ddmcs";

    protected override Task OnInitializedAsync()
    {
        _connectionStr = Environment.GetEnvironmentVariable(Variable)!;
        return Task.CompletedTask;
    }
}
