@page "/"

<PageTitle>Home</PageTitle>

<h1>Працює?</h1>

<img src="images/shamie.jpg"/>


@code{
    private string _connectionStr = "";
    private const string Variable = "SQLCONNSTR_ddmcs";

    protected override Task OnInitializedAsync()
    {
        _connectionStr = Environment.GetEnvironmentVariable(Variable)!;
        return Task.CompletedTask;
    }
}
